
<h1>Webapphonda#index</h1>

<body>
<%= form_tag({  :action => "getText" , :controller => "webapphonda" }) do %>

<%= text_field_tag :text_id %>
<p></p>
<%= label_tag :label_id, @name  %>
<p></p>
<%= submit_tag "実行" , :name => "self" %>
<%= submit_tag  "転送",  :name => "send" %>
<% end %>

<%= form_tag({  :action => "test" , :controller => "webapphonda" }) do %>

<%= label_tag :label_id, @word  %>
<p></p>
<% end %>

</body>

